<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>{{ page_title }}</title>
</head>

<body>


<div class="container-fluid">
<div class="row" style="height:1920px">

<!--1st col-->
<nav class="col-sm-1.2 d-none d-md-block bg-dark sidebar">
	<div class="sidebar-sticky">
		<form method="get">
			<ul class="nav flex-column">
				<li class="nav-item {{ nav_posts }}">
					<input class="btn bth-primary text-white" type="submit" value="Posts" name="posts">
				</li>
				<li class="nav-item {{ nav_buckets }}">
					<input class="btn bth-primary text-white" type="submit" value="Buckets" name="buckets">
				</li>
				<li class="nav-item {{ nav_recommend }}">
					<input class="btn bth-primary text-white" type="submit" value="Recommend" name="recommend">
				</li>
				<li class="nav-item {{ nav_account }}">
					<input class="btn bth-primary text-white" type="submit" value="Account" name="account">
				</li>
			</ul>
		</form>
	</div>
</nav>
<!--1st col ends-->















</div><!--outer row ends-->
</div><!--outer container ends-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


