
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
<div class="row">

	<div class="col-sm">
	<form method="get">
		<ul class="list-group">
		<!--{% for item in tags %}
			<li>{{ item.tag_key.tag_name }}: {{ item.count }}</li> 
		{% endfor %}-->


			<li>
			<div class="dropdown">
				<button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Tags
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				{% for item in tags %}
					<div class="form-check">
						<input class="btn" type="submit" name="tag_{{ item.tag_key.tag_name }}" id="tag_{{ item.tag_key.tag_name }}" value="{{ item.tag_key.tag_name }}">
						<!--<label class="form-check-label" for="tag_{{ item.tag_key.tag_name }}">{{ item.tag_key.tag_name }}</label>-->
					</div>
				{% endfor %}
				</div>
			</div>
			</li>

			<li>
			<div class="dropdown">
				<button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Sites
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				{% for item in sites %}
					<div class="form-check">
						<input class="btn" type="submit" name="site_{{ item }}" id="site_{{ item }}" value="{{ item }}">
						<!--<label class="form-check-label" for="site_{{ item }}">{{ item }}</label>-->
					</div>
				{% endfor %}
				</div>
			</div>
			</li>

			<li>
			<div>
				<label for="from date"/>
				<input type="date" id="sdate" name="sdate"/>
				<input type="submit">
			</div>
			</li>

			<li>
			<div>
				<label for="end date"/>
				<input type="date" id="edate" name="edate"/>
				<input type="submit">
			</div>
			</li>

		</ul>

		{{ min_date }}
		{{ max_date }}

		<div><button type="submit" class="btn btn-primary">Submit</button></div>

	</form>

	<form method='get'>
		<button type="submit" class="btn btn-primary" name="clear">Clear Selection</button>
	</form>

	</div>


	<div class="col">
	<form>
		<label>Selected tags
		<ul>
		{% for item in selected_tags %}
			<!--<li><input type="checkbox">{{ item }}</input></li>-->
			<li><input class="btn" type="submit" value="{{ item }}" name="cleartag_{{ item }}"></li>
		{% endfor %} 
		</ul>
	</form>
	<form>
		<label>Selected sites
		<ul>
		{% for item in selected_sites %}
			<!--<li><input type="checkbox">{{ item }}</input></li>-->
			<li><input class="btn" type="submit" value="{{ item }}" name="clearsite_{{ item }}"></li>
		{% endfor %}
		</ul>
	</form>
	</div>


	<div class="col">
		<ul>
		{% for item in posts %}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endfor %}
		</ul>
	</div>


</div>
</body>





